---
layout: default
title: Home
---
<!--<div class="row">
  <a href="/pvp_event/">
    <div class="jumbotron"></div>
  </a>
</div>-->
<div class="row">
  <div>
    {% for post in paginator.posts %}
      <div class="post">
        <div class="row">
          <h4 class="ten columns"><a href="{{post.url}}" class="index-title">{{ post.title }}</a></h4>
          <time class="two columns" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>
        </div>
        <!-- <p class="post-date">{{ post.date | date_to_string }}</p> -->
        <div class="post-content-truncate">
          {% if post.content contains "<!-- more -->" %}
            {{ post.content | split:"<!-- more -->" | first % }}
          {% else %}
            {{ post.content | truncatewords:100 }}
          {% endif %}
        </div>
        <div style="text-align: right;">
          <a href="{{post.url}}">read more..</a>
        </div>
        </br>
      </div>
    {% endfor %}
  </div>
  <div>
  {% if paginator.next_page %}
    <a class="button" href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="col-md-6 btn btn-default" role="button"><i class="fa fa-angle-double-left fa-fw"></i>Older</a>
  {% else %}
    <a class="button diabled" href="{{ paginator.next_page_path | prepend: site.baseurl }}" role="button"><i class="fa fa-angle-double-left fa-fw"></i>Older</a>
  {% endif %}
  
  {% if paginator.previous_page %}
    <a class="button u-pull-right" href="{{ paginator.previous_page_path | prepend: site.baseurl }}" role="button">Newer<i class="fa fa-angle-double-right fa-fw"></i></a>
  {% else %}
    <a class="button u-pull-right disabled" href="{{ paginator.previous_page_path | prepend: site.baseurl }}" role="button">Newer<i class="fa fa-angle-double-right fa-fw"></i></a>
  {% endif %}
  </div>
</div>
