<footer>
    <div class="footer_contents">
    <img src="/media/footer_logo.svg" alt="">
        <ul class="list--nopadding no-bullet">
            <li><a target="_blank" href="https://www.warcraftlogs.com/guilds/22475">Warcraft Logs</a></li>
            <li><a target="_blank" href="http://www.wowprogress.com/guild/us/boulderfist/Dragon+Knight">WOWprogress</a></li>
            <li><a target="_blank" href="http://us.battle.net/wow/en/guild/boulderfist/Dragon_Knight/">Armory</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/resources">Resources</a></li>
        </ul>

    </div>
</footer>
