<header>

    <div class="logo__wrapper">

            <a href="/"><img class="dk-logo" src="/media/dk-logo.svg" alt=""></a>

    </div>
    <nav>
        <ul>
            <div class="left-nav">
                <li><a href="/about">About</a></li>
                <li><a href="/resources">Resources</a></li>
            </div>
            <div class="right-nav">
                <li><a target="_blank" href="https://www.warcraftlogs.com/guilds/22475">Logs</a></li>
                <li><a href="/calendar">Calendar</a></li>
            </div>

        </ul>
    </nav>

</header>
