<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ page.title  }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

    <!-- CSS -->
    <link href="/assets/css/normalize.css" rel="stylesheet">
    <link href="/assets/css/skeleton.css" rel="stylesheet">
    <link href="/assets/css/site.css" rel="stylesheet">
    <link href="/assets/css/dk-rebrand.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/assets/footer.js"></script>

</head>