<nav class="navbar navbar-default navbar-static-top">
  <div class="container col-md-8 col-md-offset-2">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Dragon Knight</a>
    </div>
    <ul class="nav navbar-nav">
      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <li><a href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}  
      {% endfor %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-brand">Happy Birthday Marsh</li>
    </ul>
  </div>
</nav>