.gif {
  text-align: center;
}

.vcenter {
  padding-top: 5px;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background-color: #e3e3e3;
}

.thumbnail img { 
  min-height: 150px; height: 150px;
  /*min-width: 100px; width: 100px; */
}

.public-title {
  border: 1px;
  border-style: dotted;
}

/*.panel-default > .panel-body {
  background-color: #F4F7D9;
}

.panel-default > .panel-heading {
  background-color: #6C6E58;
}

/*.list-hdr {
  background-color: #BEA69A;
}

body {
  background-color: #A4CFBE;
}

.navbar-default {
  background-color: #3e423a;
  border-color: #3e423a;
}
.navbar-default .navbar-brand {
  color: #6c6e58;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #a4cfbe;
}
.navbar-default .navbar-text {
  color: #6c6e58;
}
.navbar-default .navbar-nav > li > a {
  color: #6c6e58;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #a4cfbe;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #3e423a;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #6c6e58;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #a4cfbe;
  background-color: #3e423a;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #3e423a;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #a4cfbe;
  background-color: #3e423a;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #a4cfbe;
  background-color: #3e423a;
}
.navbar-default .navbar-toggle {
  border-color: #3e423a;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #3e423a;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #6c6e58;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #6c6e58;
}
.navbar-default .navbar-link {
  color: #6c6e58;
}
.navbar-default .navbar-link:hover {
  color: #a4cfbe;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #6c6e58;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #a4cfbe;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #a4cfbe;
    background-color: #3e423a;
  }
}*/