---
layout: page
title: Resources
---

<div class="row col-md-10 col-md-offset-1">
  <div class="col-md-4 sidebar">
    <div class="list-group">
      <span class="list-group-item list-hdr"><b>Resource Pages</b></span>
      {% for resource in site.resource_list %}
      
      <a href="{{ resource[1] }}" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right"></span>
        {{ resource[0] }}
      </a>
      {% endfor %}
    </div>
  </div>


  <div class="col-md-8">
  {{ content }}
  </div>
</div>
